<div class="student">
  <span class="student--name">
    <%= student.last_name %>, <%= student.first_name %>
  </span>
  <span class="student--campus">
    <%= student.school.name %>
  </span>
  <span class="student--course">
    <%= student.course.name %>
  </span>
</div>