.student {
  margin: 12px 6px;
  display: flex;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--name {
    font-weight: bold;
    flex: 1 1 200px;
  }

  &--campus {
    color: rgba(0, 0, 0, 0.5);
    flex: 1 1 auto;

    /* font-size: 12px; */
  }

  &--course  {
    flex: 1 1 auto;

    margin: 0;
  }
}