.student {
  margin: 12px 6px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--name {
    font-weight: bold;
  }

  &--campus {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }

  &--course p {
    margin: 0;
  }
}